<h1><%= @group.name %></h1>

<% unless @group.tasks %>
  No Schedules set
<% else %>
  <ul>
    <% @group.tasks.each do |task| %>
    <li>task.name</li>
    <% end %>
  </ul>
<% end %>

<br>
<a href='/groups/<%= @group.id %>/tasks/set'>Schedule Task</a>
<br>
<% @group.lights.each do |light| %>
  <div class='light'>
    <%= light.name %>
  </div>
<% end %>
